<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla :: head">
   
</head>

 <link rel="stylesheet" href="../../css/style_Listar.css">

<body id="body-pd">
    <header th:replace="plantilla :: header"></header>
    <main class="height-100 bg-light">
        
        <div class="container">
      <h2 class="mb-5">Lista de Usuarios</h2>

      <table id="dtBasicExample" class="table table-striped">
        <thead class="encabezado">
          <tr style="height: 50px; align-content: center; line-height: 32px;">

            <th style="width: 7px;">#</th>
            <th style="width: 500px;">Username</th>
            <th>Rol</th>
            <th>Estado</th>
            <th style="text-align: center;">Acciones</th>
          </tr>
        </thead>
        <tbody>

          <tr th:each="usuario : ${usuarios}" th:if="${usuario.username != 'NULL'}">
            <td th:text="${usuario.id_user}"></td> 
            <td th:text="${usuario.username}"></td>
            <td th:text="${usuario.id_rol.nombre_rol}"></td>
            <td th:if="${usuario.estado_user == true}" th:text="Activo"></td>
            <td th:unless="${usuario.estado_user == true}" th:text="Inactivo"></td>
            
            <td style="text-align: center;">
              <a th:href="@{/usuarios/edit_user/(id_user=${usuario.id_user})}"><i class="bi bi-pencil"></i></a>
              <a th:if="${nick.user.id_user != usuario.id_user}" th:href="@{/usuarios/eliminar_user/(id_user=${usuario.id_user})}" onclick="modal(this,'eliminar')"><i class="bi bi-trash3-fill"></i></a>   
            </td>
          </tr>
          

        </tbody>
      </table>
      <section class="layout">
        <div></div>
        <div><a th:href="@{/usuarios/new_user}" type="button" class="button btn btn-outline-success">Agregar Usuario</a></div>
      </section>
    </div>


    </main>
    <footer th:replace="plantilla :: footer"></footer>
    
    <script src="../../js/table.js"></script>
  <script src="../../js/footable.min.js"></script>
  <script src="../../js/footable.js"></script>
  <script src="../../js/dash.js"></script>
</body>
</html>