<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="plantilla :: head">
</head>
<link rel="stylesheet" href="../../css/perfile.css">




<body id="body-pd">
    <header th:replace="plantilla :: header"></header>
    <main class="height-100 bg-light">
        <div class="container" style="min-width: 60%;">
            <section class="layout2">
                <div>
                    <div class="bg-c-lite-green user-profile">
                        <div class="card-block text-center text-white">
                            <div class="m-b-25" th:if="${nick.user.dni_traba.imagen != '' && nick.user.dni_traba.imagen != null}">
                                <img th:src="@{'/recursos/'+${nick.user.dni_traba.imagen}}" th:alt="${nick.user.dni_traba.imagen}" 
                                style="color: #000; border-radius: 50%; margin-bottom: 10px; width: 260px;">
                            </div>
                            <div class="m-b-25" th:if="${nick.user.dni_traba.imagen == '' or nick.user.dni_traba.imagen == null}">
                                <lord-icon src="https://cdn.lordicon.com/vusrdugn.json" trigger="loop" delay="2000"
                                    colors="primary:#121331,secondary:#b26836,tertiary:#4bb3fd,quaternary:#f9c9c0,quinary:#ebe6ef"
                                    state="hover-wave" style="width:250px;height:250px">
                                </lord-icon>
                            </div>


                            <h3 class="f-w-600" th:text="${nick.user.username}"></h3>
                            <p th:if="${nick.user.id_rol.nombre_rol == 'ROLE_GERENTE'}" th:text="Gerente"></p>
                            <p th:if="${nick.user.id_rol.nombre_rol != 'ROLE_GERENTE'}" th:text="Empleado"></p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card-block">
                        <h6 id="cabecera" class="m-b-20 p-b-5 b-b-default f-w-600">Información del trabajador</h6>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">DNI</p>
                                <h6 class="text-muted f-w-400" th:text="${nick.user.dni_traba.dni_traba}"></h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Nombres y Apellidos</p>
                                <h6 class="text-muted f-w-400"
                                    th:text="${nick.user.dni_traba.nombre_traba + ' ' + nick.user.dni_traba.apellido_traba}">
                                </h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Fecha de nacimiento</p>
                                <h6 class="text-muted f-w-400" th:text="${nick.user.dni_traba.fechaNac_traba}"></h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Telefono</p>
                                <h6 class="text-muted f-w-400" th:if="${nick.user.dni_traba.telefono_traba == null or nick.user.dni_traba.telefono_traba == ''}"
                                    th:text="----"></h6>
                                <h6 class="text-muted f-w-400" th:if="${nick.user.dni_traba.telefono_traba != null or nick.user.dni_traba.telefono_traba != ''}"
                                    th:text="${nick.user.dni_traba.telefono_traba}"></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Dirección</p>
                                <h6 class="text-muted f-w-400" th:if="${nick.user.dni_traba.direccion_traba == null or nick.user.dni_traba.direccion_traba == ''}"
                                    th:text="----"></h6>
                                <h6 class="text-muted f-w-400" th:if="${nick.user.dni_traba.direccion_traba != null or nick.user.dni_traba.direccion_traba != ''}"
                                    th:text="${nick.user.dni_traba.direccion_traba}"></h6>
                            </div>
                            <div class="col-sm-6">
                                <a type="button" th:href="@{/cambio_pass}"
                                    class="text-muted f-w-400 btn btn-outline-secondary" id="cambiar">Cambiar contraseña</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer th:replace="plantilla :: footer"></footer>
    <script src="../../js/dash.js"></script>
</body>

</html>